In [2]:
import pandas as pd

In [3]:
df  = pd.read_csv(r"C:\Users\steph\Desktop\Covid 19 dash\dataset\coviddata.csv" , encoding="ISO-8859-1")
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,3/29/2020,29,3,2020,15,1,Afghanistan,AF,AFG,37172386.0
1,3/28/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
2,3/27/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
3,3/26/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
4,3/25/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0

In [4]:
df.isnull()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
7510,False,False,False,False,False,False,False,False,False,False
7511,False,False,False,False,False,False,False,False,False,False
7512,False,False,False,False,False,False,False,False,False,False
7513,False,False,False,False,False,False,False,False,False,False
7514,False,False,False,False,False,False,False,False,False,False

In [5]:
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,3/29/2020,29,3,2020,15,1,Afghanistan,AF,AFG,37172386.0
1,3/28/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
2,3/27/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
3,3/26/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
4,3/25/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0

In [6]:
df.isnull()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
7510,False,False,False,False,False,False,False,False,False,False
7511,False,False,False,False,False,False,False,False,False,False
7512,False,False,False,False,False,False,False,False,False,False
7513,False,False,False,False,False,False,False,False,False,False
7514,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

dateRep                     0
day                         0
month                       0
year                        0
cases                       0
deaths                      0
countriesAndTerritories     0
geoId                      15
countryterritoryCode       67
popData2018                11
dtype: int64

In [8]:
df = df.dropna(axis=0)

In [9]:
df.isnull().sum()

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
countriesAndTerritories    0
geoId                      0
countryterritoryCode       0
popData2018                0
dtype: int64

In [10]:
df.to_csv('coviddata_cleaned.csv' , index = False)